version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    environment:
      BACKEND_HOST: "backend"
      BACKEND_PORT: "8000"
    ports:
      - "8501:8501"
    depends_on:
      - backend
